* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

header {
    background-color: rgb(101, 200, 230);
    grid-column: 1 / 3;
    padding: 10px;
    color: white;
    z-index: 2;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.315);
}

nav {
    background-color: rgb(239, 241, 241);
    padding: 25px 15px;
    font-size: 1.4rem;
    font-weight: bold;
    width: 200px;
    z-index: 1;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.315);
}

nav li button{
    font-size: 1rem;
}

nav button {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
}

.nav-header, .project {
    display: grid;
    grid-template-columns: 170px 16px;
    justify-items: left;
    border-radius: 5px;
    align-content: center;
    overflow: hidden;
}

.nav-header {
    margin-top: 10px;
}

.nav-header button {
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
}

#project-button, #delete-project-button {
    width: 16px;
    height: 100%;
}

#active-project {
    background-color: rgb(182, 182, 182);
}

#project-button:hover, .project:hover, .project *:hover {
    cursor: pointer;
    background-color: rgb(214, 214, 214);
}



ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

li {
    padding: 5px 5px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.modal-box {
    box-sizing: border-box;
    width: 300px;
    height: min-content;
    background-color: white;
    border: 2px solid rgb(101, 200, 230);
    padding: 20px;
    display: flex;  
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form button {
    box-sizing: border-box;
    width: 100px;
    background-color: rgb(101, 200, 230);
    border: 2px solid rgb(101, 200, 230);
    border-radius: 10px;
    color: white;
    padding: 4px;
    align-self: end;
}

textarea {
    resize: none;
}

input, textarea{
    border: 1px solid black;
    padding: 5px;
}

main {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-title {
    display: flex;
    justify-content: space-between;
}

#add-task-button {
    box-sizing: border-box;
    font-size: 1.1rem;
    background-color: rgb(101, 200, 230);
    width: 90px;
    height: 30px;
    border: 2px solid rgb(101, 200, 230);
    border-radius: 15px;
    color: white;
}

#add-task-button:hover, form button:hover {
    background-color: white;
    color: rgb(101, 200, 230);
    transition: 0.2s;
    cursor: pointer;
}

.todo-list {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-auto-rows: min-content;
    gap: 5px;
}

.todo {
    padding: 10px 20px;
    border: 2px solid rgb(101, 200, 230);
    border-radius: 10px;
    display: grid;
    overflow: hidden;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    column-gap: 15px;
}

.todo:hover {
    cursor: pointer;
}

.todo p, .todo input {
    margin-top: 10px;
    grid-column: 1 / 3;
    padding: 0px 5px;
    border-radius: 5px;
    height: 1.2rem;
}

.todo p:hover {
    background-color: rgb(214, 214, 214);
}

.todo input {
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.todo input:focus {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
}

.checkbox {
    width: 15px;
    height: 15px;
    border: 2px solid rgb(133, 133, 133);
}

.checkbox:hover {
    background-color: rgb(101, 200, 230);
    cursor: pointer;
    transition: 0.3s;
}
